@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";

#wrapper {
  margin-top: 20px;
}

.form-horizontal .control-group {
  margin: 0 0 10px 0;
}

.condensed {
  fieldset {
    margin-bottom: 20px;
  }

  legend {
    margin-bottom: 10px;
  }

  .control-group {
    margin: 0;

    @media (max-width: 767px) {
      margin-bottom: 10px;
    }
  }

  .control-label {
    font-weight: bold;
  }
}

.nav.nav-tabs.nav-stacked li a {
  position: relative;
  padding-right: 38px; // 12px + 14px + 12px

  .icon-chevron-right {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -7px;

    opacity: 0.3;
  }
}

.nav.nav-tabs.nav-stacked li.active a {
  color: #ffffff;
  background-color: #0088cc;
  border: 0;
  padding: 9px 12px;
  z-index: 2;

  font-weight: bold;

  .icon-chevron-right {
    opacity: 1.0;
  }
}

.nav.nav-tabs.nav-stacked a.disabled {
  color: #999;
  cursor: not-allowed;

  &:hover {
    background-color: white;
    z-index: 0;
  }
}

.nav.nav-tabs.nav-stacked li.upload a {
  color: #ffffff;
  background-color: #5CB75C;
  border: 0;
  padding: 9px 12px;
  z-index: 2;
  text-align: center;

  &:hover {
    background-color: #47A447;
  }
}

.form-horizontal .controls > p {
  padding-top: 5px;
  margin-bottom: 5px;
}

.timepicker {
  input[type="text"] {
    text-align: center;
  }

  .btn-link {
    color: black;
    display: block;
    padding: 0;

    &:hover {
      text-decoration: none;
    }
  }
}

.datepicker {
  .btn {
    padding: 4px 8px;
  }
}

.controls .well {
  margin-bottom: 0;
}

.modal-header {
  text-align: center;
}

.modal-body .content:last-child {
  margin: 0;
}

.modal-footer {
  text-align: center;
}

.unset {
  font-style: italic;
  color: #999999;
}