<form name="form" class="form-horizontal">
  <fieldset>
    <legend>Patient</legend>
    <div class="control-group" ng-class="{error: form.patient_id.$error.integer}">
      <label class="control-label" for="inputEmail">Patient ID</label>
      <div class="controls">
        <div class="input-append">
          <input type="text" id="patient_id" name="patient_id" integer ng-model="patient_id">
          <button type="submit" class="btn">Generate</button>
        </div>
        <span ng-show="form.patient_id.$error.integer" class="help-inline">Invalid ID</span>
      </div>
    </div>    

    <div class="control-group">
      <label class="control-label" for="inputEmail">Referral Source</label>
      <div class="controls">
        <select>
          <option>Clinician</option>
          <option>Messages (radio, etc)</option>
          <option>Other</option>
          <option>No response</option>
        </select>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Clinician</legend>
    <div class="control-group" ng-class="{error: form.clinician_id.$error.integer}">
      <label class="control-label" for="inputEmail">Clinician ID</label>
      <div class="controls">
        <input type="text" id="clinician_id" name="clinician_id" integer ng-model="clinician_id">
        <span ng-show="form.clinician_id.$error.integer" class="help-inline">Invalid ID</span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputEmail">Clinician Training Level</label>
      <div class="controls">
        <select>
          <option>No formal training</option>
          <option>Community health worker training</option>
          <option>Physician's assistant training</option>
          <option>General clinician training</option>
          <option>Psychchiatric clinician training</option>
          <option>Other</option>
          <option>No response</option>
        </select>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Visit</legend>
      <div class="control-group">
        <label class="control-label" for="inputEmail">Location of Service</label>
        <div class="controls">
          <input type="text" id="inputEmail" placeholder="Clinic or Hospital Name">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="inputEmail">Date of Service</label>
        <div class="controls">
          <div class="well well-small pull-left" ng-model="dt">
            <datepicker min="minDate" show-weeks="showWeeks" day-format="'d'"></datepciker>
          </div>
          <div class="well well-small pull-left" ng-model="dt">
            <timepicker class="timepicker" ng-model="mytime" hour-step="hstep" minute-step="mstep" show-meridian="true"></timepicker>
          </div>
        </div>
      </div>
      
      <div class="control-group">
        <label class="control-label" for="inputEmail">Reason for Visit</label>
        <div class="controls">
          <label class="radio">
            <input type="radio" name="reason"> Seeking Mental Health Care
          </label>
          <label class="radio">
            <input type="radio" name="reason"> Other
          </label>
        </div>
      </div>
    </fieldset>
</form>