<form name="form" class="form-horizontal">
  <div class="alert" ng-show="selectedTab.alert">
    {{selectedTab.alert}}
  </div>

  <div ng-if="!selectedTab.templateUrl">
    <fieldset ng-repeat="fieldset in selectedTab.fieldsets">
      <legend>{{fieldset.title}}</legend>
      <div class="control-group" ng-class="{error: !element.valid}" ng-repeat="element in fieldset.elements">
        <label class="control-label" for="{{element.name}}">{{element.title}}</label>
        <div class="controls">
          <pef-element value="element.value" type="element.type" name="element.name" options="element.options" placeholder="element.placeholder" help="element.help" rules="element.rules" valid="element.valid" invalid-message="element.invalidMessage" validate="validate">
        </div>
      </div>
    </fieldset>

    <div class="form-actions">
      <button id="backButton" class="btn" ng-click="backButtonClicked()" ng-hide="backButtonDisabled()">Back</button>
      <button id="continueButton" class="btn btn-primary" ng-click="continueButtonClicked()">Continue</button>
    </div>
  </div>

  <div ng-if="selectedTab.templateUrl">
    <ng-include src="'views/' + selectedTab.templateUrl + '.html'"></ng-include>
  </div>
</form>